{% extends 'base.html' %} {% block content %}
<h1 style="text-align: center">Hana Grosir</h1>

<h2>Welcome!</h2>
<p>{{name}}</p>
<!-- Ubahlah sesuai dengan nama kamu -->
<h3>Class:</h3>
<p>{{class}}</p>
<!-- Ubahlah sesuai dengan kelas kamu -->

<!DOCTYPE html>
<html style="background-color: #add8e6">
  <head>
    <title>Tabel Produk</title>
    <style>
      #container {
        background-color: #ffb9ee;
      }
    </style>
  </head>
  <body>
    <table
      border="4"
      ;
      style="background-color: #ffb9ee; border-collapse: collapse"
      ;
      cellspacing="10"
      ;
      cellpadding="10"
    >
      <tr style="border: 2px solid black">
        <th>Nama produk</th>
        <th>Gambar</th>
        <th>Harga Satuan</th>
        <th>Keterangan</th>
        <th>Berat</th>
        <th>Jumlah</th>
      </tr>
      {% for product in products %}
      <tr>
        <td>{{product.name}}</td>
        <td><img src="{{ product.picture }}" width="150" /></td>
        <td>{{product.price}}</td>
        <td>{{product.description}}</td>
        <td>{{product.weight}}</td>
        <td>{{product.ammount}}</td>
      </tr>
      {% endfor %}
    </table>
    <br />

    <a href="{% url 'main:create_product' %}">
      <button
        style="
          background-color: #f1895d;
          border: 2px solid black;
          cursor: pointer;
          font-size: 16px;
        "
      >
        Add New Product
      </button>
    </a>

    <h5>Sesi terakhir login: {{ last_login }}</h5>
    <a href="{% url 'main:logout' %}">
      <button
        style="
          background-color: #f1895d;
          border: 2px solid black;
          cursor: pointer;
          font-size: 16px;
        "
      >
        Logout
      </button>
    </a>
  </body>
</html>
{% endblock content %}
